body {
    background-color:lightgrey
  }
  
  #image {
    display:block;
    margin:auto;
    width:50%;
    height:50%;
    border:5px solid black;
  }
  
  nav {
    text-align:center;
    background-color:black;
    padding-top:10px;
    padding-bottom:10px;
  }
  
  nav > a:link {
    text-decoration:none;
    margin-left:40px;
    color:white;
  
  }
  
  nav > a:visited {
    color:red;
  }
  
  nav > a:hover {
    background-color:red;
    padding:10px 10px;
    color:black;
  }
  
  div > h2 {
    text-align:center;
    border-bottom:1px solid black;
  }
  
  div {
    margin-bottom:80px;
  }
  
  #bo-gross {
    border-collapse:collapse;
    width:100%;
  }
  
  #bo-gross td, #bo-gross th {
    border: 1px solid black;
    padding: 10px;
  }
  
  #bo-gross td {
    text-align: center;
  }
  
  #bo-gross tr:nth-child(even) {
    background-color: darkgrey
  }
  
  p {
    text-align: center;
  }
  
  p > a:link {
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
  
  p > a:visited {
    color: black;
  }